<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Event</th><th>Description</th><th>Address</th>
        </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.key}"></td>
            <td th:text="${event.value}"></td>
            <td th:replace="fragments :: address"></td>
        </tr>
    </th:block>
</table>

</body>
</html>